COMPOSE_PROJECT_NAME=d10
DSPACE_VER=latest
POSTGRES_VERSION=15
FRONTEND_REPO=https://github.com/DSpace/dspace-angular.git
FRONTEND_BRANCH=main
DSPACE_SERVER_URL=http://localhost/server
DSPACE_UI_URL=http://localhost
DSPACE_UI_HOST=localhost
DSPACE_REST_HOST=localhost
DSPACE_UI_PORT=80
DSPACE_REST_PORT=80
POSTGRES_DB=dspace
POSTGRES_USER=dspace
POSTGRES_PASSWORD=dspace
